<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>table{text-align:center;}</style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>recipes</title>
</head>
<body>
    {% if session.logged_in == True %}
    <div class="header" style="display: flex; justify-content: center;gap: 10px; align-items: center;">
        <h1 class="text-center">Welcome {{session.first_name}}! Here are our recipes!!!</h1>
        <a href="/logout">Logout</a>
    </div>
    <!-- this is for flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Under 30 minutes?</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.cooktime }}</td>
                <td>{{ recipe.first_name }}</td>
                <td>
                    <a href="/recipe/show/{{ recipe.id }}">View Instruction</a> 
                    {% if session['user_id'] == recipe.user_id %}
                    |
                    <a href="/recipe/edit/{{ recipe.id }}">Edit</a> |
                    <a href="/recipe/destroy/{{ recipe.id }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/recipe/new" class="btn btn-primary">Add a recipe</a>
    {% else %}
    <h1>Please <a href="/">Login!</a></h1>
    {% endif %}
</body>
</html>