<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='template.css') }}">
    <title>Edit</title>
</head>
<body>
    <div class="top_nav">
    <h1>Edit a Painting</h1>
    <div class="top_nav_buttons">
        <a href="/new">Add Painting</a>
       <a href="/dashboard">Dashboard</a>&nbsp&nbsp
       <a href="/logout"><button>Logout</button></a>
    </div>
    </div>
    <form action="/edit_painting" method="post">
    <input type="hidden" name="id" value="{{painting.id}}">
    <br>
    <label for="title">Title</label>
    <input type="text" name="title" value="{{painting.title}}">
    <br>
    <label for="description">Description</label>
    <input type="text" name="description" value="{{painting.description}}">
    <br>
    <label for="email">Price</label>
    <input type="float" name="price" value="{{painting.price}}">
    <br>
    <button type="submit">Update</button>
    <!-- <h1>{{painting.first_name}}'s Painting</h1> -->
    
    
    </form>
    {% with messages = get_flashed_messages() %}    
    {% if messages %}                        
        {% for message in messages %}     
            <p>{{message}}</p>          
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>