<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='belt_exam.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="top_nav">
        <h1>Add a Painting</h1>
        <div class="top_nav_buttons">
        <a href="/dashboard">Dashboard</a>&nbsp<a href="logout"><button>logout</button></a>
    </div>
    </div>
    <form action="create_painting" method="post">
        <input type="hidden" id="user_id" name="user_id" value="{{session['user_id']}}">

        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="title">
        <br />
        
        <label for="description">Description</label>
        <input type="text" style="height:200px;" id="description" name="description" value="description"> 
        <br />

        <label for="price">Price</label>
        <input type="data" id="price" name="price" value="price">
        <br />

        <button type="submit">Update</button>
    </form>
    {% with messages = get_flashed_messages() %}    
    {% if messages %}                        
        {% for message in messages %}     
            <p>{{message}}</p>          
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>